<a href="https://colab.research.google.com/github/SonalikaSingh/AML/blob/Decision_tree/Decision_tree_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic_dataset.csv')

In [3]:
df.head(5)

   Unnamed: 0  PassengerId  Survived  Sex  ...  Title_4  Emb_1  Emb_2  Emb_3
0           0            1         0    1  ...        0      0      0      1
1           1            2         1    0  ...        0      1      0      0
2           2            3         1    0  ...        1      0      0      1
3           3            4         1    0  ...        0      0      0      1
4           4            5         0    1  ...        0      0      0      1

[5 rows x 17 columns]

Pclass,Sex,Age,Fare

In [5]:
X=df[['Pclass_1','Pclass_2','Pclass_3','Sex','Age','Fare']]
y=df.Survived

In [6]:
X

     Pclass_1  Pclass_2  Pclass_3  Sex     Age      Fare
0           0         0         1    1  0.2750  0.014151
1           1         0         0    0  0.4750  0.139136
2           0         0         1    0  0.3250  0.015469
3           1         0         0    0  0.4375  0.103644
4           0         0         1    1  0.4375  0.015713
..        ...       ...       ...  ...     ...       ...
787         0         0         1    1  0.1000  0.056848
788         0         0         1    1  0.0125  0.040160
789         1         0         0    1  0.5750  0.154588
790         0         0         1    1  0.3500  0.015127
791         0         1         0    1  0.2000  0.050749

[792 rows x 6 columns]

In [7]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [8]:
X_test

     Pclass_1  Pclass_2  Pclass_3  Sex     Age      Fare
531         0         0         1    1  0.3500  0.014110
519         0         0         1    1  0.4000  0.015412
547         0         1         0    1  0.3500  0.027058
785         0         0         1    1  0.3125  0.014151
762         0         0         1    1  0.2500  0.014110
..        ...       ...       ...  ...     ...       ...
358         0         0         1    0  0.3500  0.015379
778         0         0         1    1  0.3500  0.015103
479         0         0         1    0  0.0250  0.023984
10          0         0         1    0  0.0500  0.032596
83          1         0         0    1  0.3500  0.091933

[159 rows x 6 columns]

In [9]:
y_test

531    0
519    0
547    1
785    0
762    1
      ..
358    1
778    0
479    1
10     1
83     0
Name: Survived, Length: 159, dtype: int64

In [10]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [12]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
model.score(X_train,y_train)

0.981042654028436

In [14]:
model.score(X_test,y_test)

0.7924528301886793