<a href="https://colab.research.google.com/github/SonalikaSingh/AML/blob/Random_forest_iris/Random_forest_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('iris.csv')
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
dummies = pd.get_dummies(df.Species)
dummies

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [25]:
merged = pd.concat([df,dummies],axis='columns')
merged

      Id  SepalLengthCm  ...  Iris-versicolor  Iris-virginica
0      1            5.1  ...                0               0
1      2            4.9  ...                0               0
2      3            4.7  ...                0               0
3      4            4.6  ...                0               0
4      5            5.0  ...                0               0
..   ...            ...  ...              ...             ...
145  146            6.7  ...                0               1
146  147            6.3  ...                0               1
147  148            6.5  ...                0               1
148  149            6.2  ...                0               1
149  150            5.9  ...                0               1

[150 rows x 9 columns]

In [29]:

final = merged.drop(['Species'], axis='columns')
final

      Id  SepalLengthCm  ...  Iris-versicolor  Iris-virginica
0      1            5.1  ...                0               0
1      2            4.9  ...                0               0
2      3            4.7  ...                0               0
3      4            4.6  ...                0               0
4      5            5.0  ...                0               0
..   ...            ...  ...              ...             ...
145  146            6.7  ...                0               1
146  147            6.3  ...                0               1
147  148            6.5  ...                0               1
148  149            6.2  ...                0               1
149  150            5.9  ...                0               1

[150 rows x 8 columns]

In [34]:
x=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']
t=['Iris-setosa','Iris-versicolor','Iris-virginica']

In [76]:
X=final[x]
y=final[t]

In [80]:
X=(X-np.amin(X))/(np.amax(X)-np.amin(X))

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [82]:
X_train.head(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
104       0.611111      0.416667       0.813559      0.875000
8         0.027778      0.375000       0.067797      0.041667
139       0.722222      0.458333       0.745763      0.833333
145       0.666667      0.416667       0.711864      0.916667
52        0.722222      0.458333       0.661017      0.583333

In [83]:
y_train.head(5)

     Iris-setosa  Iris-versicolor  Iris-virginica
104            0                0               1
8              1                0               0
139            0                0               1
145            0                0               1
52             0                1               0

In [84]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=25)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=25,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [85]:
model.score(X_test, y_test)

0.9666666666666667

In [86]:
y_predicted=model.predict(X_test)